tmp
examples
node_modules
static/js/config-jodi.js

jodi.html
static/profiles/bibframe/Test profile (jodiw).json

builds/*
static/profiles/bibframe/Test All (jodiw).json
static/profiles/bibframe/profiles.json

static/js/config-test.js
static/profiles/bibframe/BIBFRAME 2.0 Test: Notated Music: Work, Expression, Instance.json
static/profiles/bibframe/Test profile (Prints & Photographs).json
test.html


.csslintrc
.jshintrc
.eslintrc
